/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./badges.css');
@import url('./back-link.css');

/* Timer styles */

body{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
}

.title-wrapper{
  margin-top: 30px;
}

.date-wrapper{
  display: flex;
  gap: 8px;
  margin: 32px 0;
  align-items: center;
}

.timer{
  display: flex;
  gap: 24px;
  text-transform: uppercase;
}

.field{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.value{
  font-size: 40px;
  line-height: 120%;
  color: #2e2f42;
}

.label{ 
  color: #2e2f42;
}

input{
  width: 272px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #2e2f42;
  padding: 8px 16px;
  outline: transparent;
}

input:hover{
  border: #000 1px solid;
  color: #2e2f42;
}

input:active{
  border: #4e75ff 1px solid;
}

input:disabled{
  background-color: #fafafa;
  border: #e0e0e0 1px solid;
  color: #808080;
  cursor: not-allowed;
}

input::placeholder{
  color: #2e2f42;
}

button{
  border-radius: 8px;
  padding-block: 8px;
  padding-inline: 16px;
  width: 75px;
  height: 40px;
  background-color: #4e75ff;
  border: none;
  cursor: pointer;
  font-weight: 500;
  color: #ffffff;
}

button:disabled{
  background-color: #cfcfcf;
  color: #989898;
  cursor: not-allowed;
}

/* button:hover{
  background-color: #6c8cff;
  color: #ffffff;
} */


/* Snackbar */

.title-page{
  margin-top: 30px;
}

.form{
  margin-top: 32px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.delay-label{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  color: #2e2f42;
}

input[type="number"]{
  width: 359px;
  height: 20px;
  margin-bottom: 16px;
  border: #808080 1px solid;
}

input[type="number"]:hover{
  border: #000 1px solid;
}

input[type="number"]:active{
  border: #4e75ff 1px solid;}

fieldset{
  display: flex;
  justify-content: center;
  width: 365px;
  height: 78px;
  gap: 48px;
  padding: 8px 8px 8px 24px;
  margin-bottom: 24px;
  border: #757575 1px solid;
  border-radius: 4px;
}

fieldset:hover, fieldset:active{
  border: #000 1px solid;
}

.radio-label{
  position: relative;
  bottom: -30px;
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}

input[type="radio"]{
  width: 20px;
  height: 20px;
  cursor: pointer;
}

button[type="submit"]{
  border-radius: 8px;
  padding-block: 8px;
  padding-inline: 16px;
  font-weight: 500;
  width: 393px;
  height: 40px;
  background-color: #4e75ff;
  border: none;
}

button[type="submit"]:hover{
  background-color: #6c8cff;
}

.alert{
  height: 64px;
  width: 383px;
  position: fixed;
  top: 150px;
  right: 20px;
  margin: 0;
  background-color: #fff;
  color: #2a2a2a;
  border: 1px solid #2e2f42;
  border-radius: 4px;
  user-select: none;
  cursor: pointer;
  transform: translateX(calc(100% * 20px));
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}